{% extends 'admin.html.twig' %}

{% block body %}
    <h1>QAList creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input  class="btn btn-success pull-right" type="submit" value="Create" />
    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('qa_qalist_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}
