<style>
    .modal{top:0;width:100%;height:100%; display: none; background: rgba(0, 0, 0, 0.498)}
    .modal-content{margin-top: 30%; background:#ddd }
</style>

<div id="wait" class="modal" data-easein="fadeInRight" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">正在执行操作ing......</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    function WaitModal(p){
        this.p = p;
        this.fadeIn = function(){
            $("#wait").fadeIn(500);
        }
        this.setContent = function(p){
            $("#wait").find(".modal-body").find('p').text(p);
        }
        this.setContent(p);
        this.fadeIn();
        this.fadeOut = function(p, time){
            this.setContent(p);
            $("#wait").fadeOut(time ? time : 500);
        }
    }
</script>