<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/reset.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
{% block content %}
<div class="form">
    <div class="topbar">
        <div class="spanColor"></div>
        {% block fos_user_content %}{% endblock %}
    </div>
</div>
{% endblock %}
</body>
</html>